@font-face {
    font-family: 'NeoSansStdRegular';
    src: url('../fonts/NeoSansStdRegular/fonts/NeoSansStdRegular.eot');
    src: url('../fonts/NeoSansStdRegular/fonts/NeoSansStdRegular.eot') format('embedded-opentype'),
    url('../fonts/NeoSansStdRegular/fonts/NeoSansStdRegular.woff2') format('woff2'),
    url('../fonts/NeoSansStdRegular/fonts/NeoSansStdRegular.woff') format('woff'),
    url('../fonts/NeoSansStdRegular/fonts/NeoSansStdRegular.ttf') format('truetype'),
    url('../fonts/NeoSansStdRegular/fonts/NeoSansStdRegular.svg#NeoSansStdRegular') format('svg');
}

@font-face {
    font-family: 'NeoSansStdRegular';
    src: url('../fonts/NeoSansStdBold/NeoSansStd-Bold.woff2') format('woff2'),
    url('../fonts/NeoSansStdBold/NeoSansStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

