@font-face {
    font-family: 'Neo Sans Std';
    src: url('NeoSansStd-Bold.woff2') format('woff2'),
        url('NeoSansStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

