@font-face {
    font-family: 'NeoSansStdRegular';
    src: url('fonts/NeoSansStdRegular.eot');
    src: url('fonts/NeoSansStdRegular.eot') format('embedded-opentype'),
         url('fonts/NeoSansStdRegular.woff2') format('woff2'),
         url('fonts/NeoSansStdRegular.woff') format('woff'),
         url('fonts/NeoSansStdRegular.ttf') format('truetype'),
         url('fonts/NeoSansStdRegular.svg#NeoSansStdRegular') format('svg');
}
